.container {
  padding: 60px;
}

.title {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.summary {
  display: flex;
  align-items: center;
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #04d166;
  border-radius: 4px;
  height: 24px;
  width: 40px;
  color: #fff;
}

.amount {
  font-size: 26px;
  font-weight: 700;
  margin-left: 12px;
  flex-grow: 1;
}