.container {
  padding: 24px;
  margin-bottom: 56px;
  background-color: #0c365a;
  height: 100vh;
}

.title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.summary {
  display: flex;
  align-items: center;
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #04d166;
  border-radius: 4px;
  height: 24px;
  width: 40px;
  color: #fff;
}

.amount {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  margin-left: 12px;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 60px;
    background-color: #fff;
  }

  .title {
    color: #222;
  }

  .amount {
    color: #222;
  }
}