.container {
  padding: 24px;
  margin-bottom: 56px;
  background-color: #0c365a;
  height: 100vh;
}

.title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.summary {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #04d166;
  border-radius: 4px;
  height: 24px;
  width: 40px;
  color: #fff;
}

.amount {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  margin-left: 12px;
  flex-grow: 1;
}

.tabs {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.tab {
  margin: 4px 0px;
  padding: 4px 0px;
  color: #778fa2;
  font-size: 13px;
  font-weight: regular;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.tabActive {
  border-bottom: 2px solid #22cefd;
  border-radius: 1px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 60px;
    background-color: #fff;
    margin-bottom: 0px;
  }

  .summary {
    margin-bottom: 32px;
  }

  .title {
    color: #222;
  }

  .amount {
    color: #222;
  }

  .tab {
    font-size: 14px;
  }

  .tabActive {
    color: #222222;
  }
}