.container {
  background-color: #0d365a;
  padding: 48px;
  height: 100%;
}

.title {
  margin: 18px 0px 80px;
  color: #55738c;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.option span {
  margin-left: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.active {
  color: #04d166 !important;
}

