.slick-slide-wrap .slick-slider {
  display: inline-grid;
  vertical-align: top;
  margin-bottom: 48px;
}

.slick-prev {
  left: 10px;
  z-index: 100;
}

.slick-next {
  right: 10px;
  z-index: 100;
}

.slick-track {
  display: flex;
}

.slick-slide-wrap .slick-slide {
  display: flex;
  width: 100%;
}

.slick-slide-wrap .slick-slide div {
  width: 100%;
}

.slick-slide-wrap button {
  background-color: black;
}
